@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2200 E McCarty St<br />
    Jefferson City, MO 65101<br />
    <abbr title="Phone">P:</abbr>
    1.800.SNACK
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mattveit.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@mattveit.com</a>
</address>