@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Snack Hole, Inc.</h1>
    <p class="lead">The Snack Hole, Inc. is an Advanced Snacking Solution company dedicated to delivering the highest quality snacks.</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <img src="~/img/SnackHole.PNG" height="200" />
    </div>
    <div class="col-md-4">
        
    </div>
</div>
