@Html.MVCGrid("ProductsGrid")

<div class=" = container">
    <button class="btn btn-default" id="exportButton">
        <span class="glyphicon glyphicon-download-alt"></span> Export
    </button>
</div>

@*<div class="panel panel-default">
    <div class="panel-body">

        @Html.Partial("_MVCGridToolbar", new TheSnackHole.Web.Areas.Candidate.Models.MVCGridToolbarModel()
   {
       MVCGridName = "ProductsGrid",
       PageSize = true,
       ColumnVisibility = true,
       Export = true,
       GlobalSearch = true
   })
        @Html.MVCGrid("ProductsGrid")
    </div>
</div>*@