@Html.MVCGrid("ProductsGrid")

<div class=" = container">
    <button class="btn btn-default" id="exportButton">
        <span class="glyphicon glyphicon-download-alt"></span> Export
    </button>
</div>

