@*@Html.MVCGrid("ProductsGrid")*@
@using TheSnackHole.Models

@*<div class=" = container">
    <button class="btn btn-default" id="exportButton">
        <span class="glyphicon glyphicon-download-alt"></span> Export
    </button>
</div>*@

<div class="panel panel-default">
    <div class="panel-body">

        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
   {
       MVCGridName = "ProductsGrid",
       PageSize = true,
       ColumnVisibility = true,
       Export = true,
       GlobalSearch = true,
       Filter = true
   })
        @Html.MVCGrid("ProductsGrid")
    </div>
</div>
