@model List<TheSnackHole.Models.Product>
@{
    ViewBag.Title = "Products";
}

@Html.Partial("_Message")
<h2>Products</h2>

<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Product
    </a>
</div>



@Html.Partial("_ProductsGrid")
