@model TheSnackHole.Models.Brand

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(b => b.Name, new { @class = "control-label" })
            @Html.TextBoxFor(b => b.Name, new { @class = "form-control" })
        </div>        
    </div>
</div>
