@model TheSnackHole.Models.Brand

@{
    ViewBag.Title = "Add Brand";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{

   
    <h3>Brand Information</h3>

    @Html.Partial("_BrandsForm")

    <div class="row">
        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    </div>
}