@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Snack Hole was founded by a group of snacking professionals with experience over the last 3 decades in buying, selling, and eating snacks in a wide range that include: Pringles, Pop-Tarts, snack cakes, sunflower seeds, and more.
The Snack Hole staff has a proven track record of implementing successful snacking systems in the workplace. 
The Snack Hole has the experience to successfully develop, implement and support your enterprise snacking solution.</p>

<p>The Snack Hole Inc. has been satisfying our hungry customers since October of 2013. 
    Since our humble beginning operating on a single shelf cabinet, The Snack Hole has expanded to operating on over five shelves. 
    We offer a wide variety of snacking options from BBQ Pringles to Spicy BBQ Pringles.</p>
